body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/930/original/julian-OY1irRHVUp0-unsplash.jpg?1706099081");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Urbanist", sans-serif;
}
.weather-app-container {
  background-color: #181818;
  width: 673px;
  margin: 150px auto;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
}

.app-title {
  margin: 0 20px 0px 5px;
  font-size: 14px;
  font-weight: 600;
  color: #eae9e2;
  margin: 10px;
}

.form-container {
  background-color: #f27333;
  padding: 15px;
  margin: 0;
}
